<!-- This results.ejs file includes the partials files, header.ejs and footer.ejs. -->
<%- include('partials/header') %>
<div class="about-wrapper">
    <div class="about">
       
        <h1 class="about-tasty"><strong>About TastyTable</strong></h1>
        <h3 class="mission">We are on a mission to make meal planning more joyful.</h3>

        <p class="about-p">TastyTable is the ultimate app for recipe searching, saving, and cooking. With TastyTable, you can save, plan, shop, and cook the recipes you love, while also discovering new recipes.</p>

        <p>Coming Spring 2023! <strong>TastyTable</strong> is adding a <strong class="red">Calendar</strong> to simplify meal planning, and a <strong class="red">Grocery List</strong> for easy shopping.</p>

    </div>

</div>
     
<%- include('partials/footer') %>