<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1 class="text-center mb-1 mt-3 mr-5" style="color: #07163a"><i class="fa-solid fa-pepper-hot fa-lg" style="color: #f0594f;"></i> TastyTable</h1>
      <br>
      <!-- <h1><i class="fa-sharp fa-solid fa-pepper-hot"></i></h1>   -->
      <h5>Welcome! Create an account or login</h5>
      <a href="/users/register" class="btn btn-primary btn-block mb-2 mt-3"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
